//-
 * Created by luoyin.
 * Date: 2017/1/13
 * Time: 21:30
 --------------------------
style
  :stylus
    .page-header
      text-align center
      width 100%
      margin-top 15px
      margin-bottom 20px
      > h1
        width 100%
      >small
        font-size 20px



.container
  .row
    .page-header
      h1 #{title}
      small 重度科幻迷
