ul
  li
    a.btn.btn-default(target="_blank",href="../admin/addnew") 后台录入页
  li
    a.btn.btn-default(target="_blank",href="../admin/list") 后台列表页
  li
    a.btn.btn-default(target="_blank",href="../admin/userlist") 用户列表页